{% extends 'base.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% if error   %}
    <div class='alert alert-danger'>
       Identifiant ou mot de passe invalides!
    </div>

{% endif %}
<div class="container">
    <form action="{{ path('login') }}" method="post" class="form-signin">
        <div class="container mt-5 d-flex align-items-center justify-content-center">
            <img class="mb-3 " src="/img/boulangerieBriceLogo.png" alt="boulangerie Brice" width="92" height="72">
        </div>
        <h1 class="h3 mb-3 text-muted text-center  font-weight-normal">Connectez vous</h1>
        <div class="form-group row d-flex flex-column justify-content-center align-items-center">
            <div class="col-md-3">
                <label for="username" class="col-sm-2 col-form-label text-muted">Nom</label>
                <input type="text" id="username" name='_username' class="form-control" value="{{ last_username}}" placeholder="Nom">
            </div>
            <div class="col-md-3">
                <label for="password" class="col-sm-8 col-form-label text-muted">Mot de passe</label>
                <input type="password" class="form-control" name='_password' id="password" placeholder="Password">
            </div> 
            <div class="col-md-3 mt-4">  
                <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
    </form>
</div>



{% endblock %}


